.navBarContainer {
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: #252627;
  padding: 0.75rem;
  border-bottom: 2px solid #494949;
}
.group1 {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}
.group2 {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.group3 {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
