@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: #1c1e21;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer {
  .MIDDLE-ICONS {
    @apply w-[7vw] cursor-pointer text-[3rem] p-2 rounded-[1rem] hover:bg-[#5c5c5c];
  }
  .OUTLINED-ICONS {
    @apply bg-[#4f4f4f] rounded-full text-[2.5rem] p-2 cursor-pointer hover:bg-[#5c5c5c];
  }
  .MIDDLE-ICONS-ACTIVE {
    @apply border-b-4 border-b-[#4267B2] p-1 rounded-none text-[#4267B2] hover:bg-transparent;
  }
}
